$primary-color: #047aed;
$secondary-color: #1c3fa8;
$dark-color: #002240;
$light-color: #f4f4f4;
$success-color: #5cb85c;
$error-color: #d9534f;

@import "utilities";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/* :root{
    --primaryColor: #047aed;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.hidden{
    visibility: hidden;
    height: 0;
}

/* Navbar */
.navbar {
  background-color: $primary-color;
  color: #fff;
  height: 70px;

  .flex {
    justify-content: space-between;
  }

  ul {
    display: flex;
  }

  a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;

    &:hover {
      border-bottom: 2px solid #fff;
    }
  }
}

/* Showcase */
.showcase {
  height: 400px;
  background-color: $primary-color;
  color: #fff;
  position: relative;

  h1 {
    font-size: 40px;
  }

  p {
    margin: 20px 0;
  }

  .grid {
    grid-template-columns: 55% 42%;
    gap: 30px;
    overflow: visible;
  }

  .showcase-text {
    animation: slideInFromLeft 1s ease-in;
  }

  .showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in;

    .form-control {
      margin: 30px 0;
    }

    input[type="text"],
    input[type="email"] {
      border: 0;
      border-bottom: 1px solid #b4becb;
      width: 100%;
      padding: 3px;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
  }
}

/* Stats */
.stats {
  padding-top: 100px;
  animation: slideInFromBottom 1s ease-in;

  .stats-heading {
    max-width: 500px;
    margin: auto;
  }

  .grid {
    h3 {
      font-size: 35px;
    }

    p {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

/* CLI */
.cli {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    *:first-child {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
    }
  }
}

/* Cloud */
.cloud {
  .grid {
    grid-template-columns: 4fr 3fr;
  }
}

/* Languages */
.languages {
  .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;

    h4 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    &:hover {
      transform: translateY(-15px);
    }
  }

  .flex {
    flex-wrap: wrap;
  }
}

/* Features */
.features-head,
.docs-head {
  img {
    width: 200px;
    justify-self: flex-end;
  }
}

.features-sub-head {
  img {
    width: 300px;
    justify-self: flex-end;
  }
}

.features-main {
  .card > i {
    margin-right: 20px;
  }

  .grid {
    padding: 30px;

    :first-child {
      grid-column: 1 / span 3;
    }

    :nth-child(2) {
      grid-column: 1 / span 2;
    }
  }
}

/* Docs */
.docs-main {
  h3 {
    margin: 20px 0;
  }

  .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
  }

  nav {
    li {
      font-size: 17px;
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid #ccc;
    }
  }

  a:hover {
    font-weight: bold;
  }
}

/* Footer */
footer {
  .social {
    a {
      margin: 0 10px;
    }
  }
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

/* Tablets and Under */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;

    .showcase-text {

      text-align: center;
      margin-top: 40px;
      animation: slideInFromTop 1s ease-in;
    }

    .showcase-form {
      justify-self: center;
      margin: auto;
      animation: slideInFromBottom 1s ease-in;
    }
  }

  .cli {
    .grid {
      *:first-child {
        grid-column: 1;
        grid-row: 1;
      }
    }
  }

  .features-head,
  .features-sub-head,
  .docs-head {
    text-align: center;

    img {
      justify-self: center;
    }
  }

  .features-main {
    .grid > *:first-child,
    .grid > *:nth-child(2) {
      grid-column: 1;
    }
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 110px;

    .flex {
      flex-direction: column;
    }

    ul {
      padding: 10px;
      background: rgba($color: #000000, $alpha: 0.1);
    }
  }

  .showcase-text{
      animation: slideInFromTop 1s ease-in;
  }
}
